# Godot logs
logs/

sample/android

.env
vc140.pdb
.sconsign.dblite

*.obj
*.os

**/*.tmp

temp/

gd-eos-addon.zip

# dev
__pycache__/
compile_commands.json
.cache/
backup/
.vscode/
sample/
# thirdparty/eos-sdk/
_media/

gd_eos/gen/

# mingw
*.o