# Godot logs
logs/

demo/android

.env
vc140.pdb
.sconsign.dblite

*.obj
*.os

**/*.tmp

temp/

gd-eos-addon.zip

# dev
__pycache__/
compile_commands.json
.cache/
backup/
.vscode/
_media/
bin/
.godot/
gd_eos
# thirdparty/eos-sdk/

gd_eos/gen/

# mingw
*.o

build/
.android_build_tmp/

*.log