[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.2
[submodule "thirdparty/eos-sdk"]
	path = thirdparty/eos-sdk
	url = https://github.com/Daylily-Zeleen/eos-sdk.git
